.App {
  text-align: center;
  margin: 10px;
}

.card{
  margin: auto;
  width: 250px;
}

.card:hover{
  border: rgb(42, 128, 208) 2px solid;
  transform: scale3d(0.9,0.9,0.9);
}

form{
  border: 2px black solid;
  margin: auto;
  width: 250px;
  padding: 5px;
}

.form-control{
  width: 150px;
}

.delete{
  display: none;
}
